.hero {
    height: 100%;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    z-index: 10;
}

.hero__section {
    display: flex;
    height: clamp(50vh, 57vw, 100vh);    background-color: var(--neon);
    border-radius: 30px;
    margin: 0 6.25rem;
    margin-top: 1rem;
    position: relative;
}

.hero__section-innerDiv{
    display: flex;
    width: 100%;
}

.hero__section-innerDiv-left{
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    width: 50%;
}

.hero__section-innerDiv-left h1{
    font-family: var(--font-family);
    font-size: clamp(3rem, 7vw, 9rem);
    line-height: 85%;
    color: var(--grey);
    margin-top: clamp(5rem,9vw,10rem);
}

.hero__section-innerDiv-left h3{
    font-family: var(--font-secondary);
    font-size: clamp(1.2rem, 2vw, 2.25rem);
    color: var(--green);
    margin-top: 30px;
}



.hero__section-heroCard {
    position: absolute;
    right: 0;
    top: 6rem;
    z-index: 10;
    width: 40vw;
}
.apply-button {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: clamp(30px, 5vw, 60px);
}

.apply {
    width: clamp(11rem, 15vw, 17.5rem);
    height: clamp(2.3rem ,7vw, 4.1rem);
    color: white;
    font-family: var(--font-family);
    font-size: 19px;
    outline: none;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.apply-rectangle {
    position: absolute;
    border: 3px solid;
    width: clamp(11.3rem, 15.3vw,17.875rem);
    height: clamp(3.4rem, 7.3vw,4.25rem );
    border-radius: 5px;
    top: 8px;
    left: 7px;
    z-index: 1;
}

.border-green {
    border-color: var(--green);
}

.bg-green {
    background-color: var(--green);
}

.hero__scroll-scroller {
    position: absolute;
    left: 50%;
    margin-left: -1.62vw;
        bottom: 2rem;
    width: clamp(2.5rem,4vw,4rem);
}

.hero__secondary-text {
    display: flex;
    padding: 3.75rem 9rem;
    justify-content: space-between;
    align-items: center;
}

.hero__seconday-text-main {
    font-family: var(--font-family);
    font-size: 3rem;
    flex:1.25;
}

.hero__secondary-text-side{
    font-family: var(--font-secondary);
    font-size: 1.15rem;
    flex: 1;
    font-weight:400;
}

.hero__secondary-text-buttons{
    display: flex;
    flex-direction: column;
}

.secondary{
    width: 9.25rem;
    height: 3.1rem;
    border-radius: 3.83px;
    font-size: 1.15rem;
}

.learn{
    margin-top: .5rem ;
    background-color: #fff;
    outline: none;
    border: 0.77px solid var(--green);
    color: var(--green);
    font-family: var(--font-secondary);
}