.options{
    height: fit-content;
    background-color: var(--green);
    margin-top: -1.25rem;
    padding-top: 1.25rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 9;
}

.options__section {
    display: flex;
    height: fit-content;
    overflow: hidden;
}



.scrollmagic-pin-spacer{
    padding-bottom: 0;
}

.options__header h1{
    font-family: var(--font-family);
    font-size: 3rem;
    margin: 5rem;
    margin-left: 9rem;
    color: white;
    
}

.options__header-options {
    width: 50%;
    display: flex;
    margin-left: 9rem;
    margin-top: 9rem;
    flex-direction: column;
    height: 125vh;
}

.options__header-option {
    display: flex;
    margin: 2rem 0;
    
}

.options__sideline{
    width: 0px;
    height: 17rem;
    border: 2px solid white;
}

.options__content {
    margin-left:2rem ;
}

.options__content h2{
    font-family: var(--font-family);
    font-size: 4rem;
    color: white;
}

.options__content p{
    font-family: var(--font-secondary);
    color: white;
    font-size: 2.25rem;
    font-weight: 400;
    width: 30rem;
}

.options__card {
    width: 50%;
    position: relative;
}

.options__card-hand {
    width: 100%;
    object-fit: cover;
}